body {
    margin: 0;
    /* Remove the default margin */
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(142, 100, 10, 1) 100%);
}

#image-row {
    /* Use flexbox to arrange the images in a row */
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
    


}

img {
    /* Prevent images from exceeding the width of their parent */
    max-width: 100%;
    height: auto;
    

    
}
img: hover {
    background-color: red;
  }

#img-A{
    filter: blur(50px);
    filter: contrast(0%);
    /*filter: saturate(300%);*/
    
    filter: drop-shadow(25px 50px 10px rgb(215, 128, 14));

}

#img-B {
    filter: contrast(50%);
    button {
        background-color: dodgerblue;
      }
       
      button:hover {
        background-color: red;
      }

}

#img-C{
    filter: brightness(2);
}

#click-me {
    /* Centre the button */
    display: block;
    margin: auto;

    /* Style the button to look nice */
    background-color: black;
    color: white;
    border: none;
    padding: 10px;

    font-size: 2em;
    font-weight: bold;
}
.hover{
    button {
        background-color: dodgerblue;
      }
       
      button:hover {
        background-color: red;
      }
}