body {
    margin: 0;
    /* Remove the default margin */
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(142, 100, 10, 1) 100%);
}

#image-row {
    /* Use flexbox to arrange the images in a row */
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
    filter: blur(50px);
    filter: contrast(500%);


}

img {
    /* Prevent images from exceeding the width of their parent */
    max-width: 100%;
    height: auto;
    

    
}

#click-me {
    /* Centre the button */
    display: block;
    margin: auto;

    /* Style the button to look nice */
    background-color: black;
    color: white;
    border: none;
    padding: 10px;

    font-size: 2em;
    font-weight: bold;
}